In [1]:
a:3
a

3

 Evaluation happens from right to left, no operation precedence

In [2]:
2*2+3

10

In [3]:
"c"$0x57656c6c20646f6e6521

"Well done!"

In [4]:
c:b:1+a:42
a
b
c

42

43

43

In [5]:
c:(b:1)+a:42
a
b
c

42

1

43

Date

In [6]:
1999.12.31

1999.12.31

In [7]:
1999.12.31=-1
2000.01.01=0

1b

1b

In [8]:
2000.01.01+5

2000.01.06

DateTime

In [9]:
12:00:00.000000000+1000

0D12:00:00.000001000

#### 1.9 Lists 101

The fundamental q data structure is a list, which is an ordered collection of items sequenced from left to right. The notation for a general list encloses items with ( and ) and uses ; as separator. Spaces after the semi-colons are optional but can improve readability.

In [10]:
(1; 1.2; `one)

1
1.2
`one

In the case of a homogenous list of atoms, called a simple list, q adopts a simplified format for both storage and display. The parentheses and semicolons are dropped. For example, a list of underlying numeric type separates its items with a space.

In [11]:
d:(1,2,3)
d

1 2 3

In [12]:
1 2 3

1 2 3

 The most fundamental is **til**, which takes a non-negative integer n and returns the first n integers starting at 0 (n itself is not included in the result).

In [13]:
til 10

0 1 2 3 4 5 6 7 8 9

In [14]:
1+til 10

1 2 3 4 5 6 7 8 9 10

In [15]:
til 10+1

0 1 2 3 4 5 6 7 8 9 10

In [16]:
(til 10+1) = til 11

11111111111b

In [17]:
2*til 10

0 2 4 6 8 10 12 14 16 18

In [18]:
1+2*til 10

1 3 5 7 9 11 13 15 17 19

Another frequently used list primitive is join , that returns the list obtained by concatenating its right operand to its left operand.

In [19]:
b:(1,2,3),(7,8)
b

1 2 3 7 8

To extract items from the front or back of a list, use the take operator #. Positive argument means take from the front, negative from the back.

In [20]:
2#b

1 2

In [21]:
-3#b

3 7 8

Applying # always results in a list.

In particular, the idiom 0# returns an empty list of the same type as the first item in its argument. Using an atom argument is a succinct way to create a typed empty list of the type of the atom.

In [22]:
0#b

`long$()

In [23]:
0#0

`long$()

In [24]:
0#1999.12.31

`date$()

Should you extract more items than there are in the list, # restarts at the beginning and continues extracting. 
It does this until the specified number of items is reached.

In [25]:
5#1 2 3

1 2 3 1 2

In particular, if you apply # to an atom, it will continue drawing that single atom until it has the specified number of copies. This is a succinct idiom to replicate an atom to a list of specified length.

In [26]:
5#42

42 42 42 42 42

In [27]:
b:3 4 5
b[0]
b[1]
b[2]

3

4

5

### 1.10 Functions 101

All built-in q operators are functions. The main differences between q’s functions and the ones we mortals can write are:

The built-ins are written and optimized in one of the underlying languages k or C.
All q functions can be used with infix notation – i.e., as operators – whereas ours must be used in prefix form.

Function definition is delimited by matching curly braces { and }. Immediately after the opening brace, the formal parameters are names enclosed in square brackets [ and ] and separated by semi-colons. These parameters presumably appear in the body of the function, which follows the formal parameters and is a succession of expressions sequenced by semi-colons.

Following is a simple function that returns the square of its input. On the next line we assign the same function to the variable sq. The whitespace is optional.

In [28]:
{[x] x*x}

{[x] x*x}

In [29]:
sqr:{[x] x*x}
sqr[13]

169

In [30]:
pyth:{[x;y] a:x*x; b:y*y; a+b}

Arguments have to be in square brackets and separated by semicolon

In [31]:
pyth[3;4]

25

It is common in mathematics to use function parameters x, y, or z. If you are content with these names (in the belief that descriptive names provide no useful information to the poor soul reading your code), you can omit their declaration and q will understand that you mean the implicit parameters x, y, and z in that order.

In [32]:
{a:x*x; b:y*y; a+b}[3;4]

25

In q, as in most functional languages, we don't need no stinkin’ brackets for application of a monadic function – i.e., with one parameter. Simply separate the function from its argument by whitespace. This is called function juxtaposition.

In [33]:
{x*x} 5

25

#### 1.11 Functions on Lists 101

Because q is a vector language, most of the built-in operators work on lists out of the box. In q-speak, such functions are atomic, meaning they recursively burrow into a complex data structure until arriving at atoms and then perform their operation. In particular, an atomic function operates on lists by application to the individual items. For example, plain addition adds an atom to a list, a list to an atom or two lists of the same length.

In [34]:
42 + 100 200 300

142 242 342

In [35]:
100 200 300 + 42

142 242 342

In [35]:
42 42 + 100 200 300

length: length

In [36]:
42 42 42 + 100 200 300

142 242 342

In [37]:
100=99 100 101

010b

In [38]:
100 100 100=99 100 101

010b

Higher order functions, or as they are called in q, adverbs.
Reduce (fold) operation called "over" and uses adverb "/".

 / pattern should be clear: it takes a given function and produces a new function that accumulates across the original list, producing a single result. In particular, / converts a dyadic function to a monadic aggregate function – i.e., one that collapses a list to an atom.

Sum values across the list:

0 - initial value of accumulator

"+" - operation

"/" - adverb

In [28]:
0 +/ til 10

45

In [29]:
0 +/ 1 2 3 4

10

In [30]:
1 */ 1 2 3

6

In [31]:
0 {x+y}/ 1 2 3

6

When there is no need to specify initial value and first element in the list is the initial value it can be omitted, but "over" is taken into round brackets:

In [32]:
(+/) til 10

45

The fun isn't limited to arithmetic primitives. We introduce |, which returns the larger of its operands and &, which returns the smaller of its operands.

In [33]:
(|/) 4 1 7 3 5 2 9 3

9

In [34]:
(&/) 4 1 7 3 5 2 9 3

1

Some applications of / are so common that they have their own names.

In [35]:
sum 1+til 10 / this is +/

55

In [36]:
prd 1+til 10 / this is */

3628800

In [37]:
max 20 10 40 30 / this is |/

40

In [38]:
min 20 10 40 30 / this is &/

10

2 to 5th power:

In [39]:
(*/) 5#2

32

The higher-order function sibling to over is **scan**, written \. The process of scan is the same as that of over with one difference: instead of returning only the final result of the accumulation, it returns all intermediate values.
Scan converts a dyadic function to a monadic uniform function – i.e., one that returns a list of the same length as the input.

In [40]:
(*\) 5#2

2 4 8 16 32

As with over, common applications of scan have their own names.

In [41]:
sums 1+til 10 / this is +\

1 3 6 10 15 21 28 36 45 55

In [42]:
prds 1+til 10 / this is *\ / note missing 'o'

1 2 6 24 120 720 5040 40320 362880 3628800

In [43]:
maxs 20 10 40 30 / this is |\

20 20 40 40

In [44]:
mins 20 10 40 30 / this is &\

20 10 10 10

#### 1.12 Fibonacci Numbers

In [45]:
{x,sum -2#x}

{x,sum -2#x}

In [46]:
{x,sum -2#x}[1,1]

1 1 2

In [47]:
{x,sum -2#x}[1 1 2]

1 1 2 3

Wouldn't it be nice if q had a **higher-order function that applies a recursive function a specified number of times, starting with the base case**? Conveniently, there is an overload of our friend / that does exactly this. Specify the base case and the number of times to iterate the recursion and it's done.

In [48]:
10 {x,sum -2#x}/ 1 1

1 1 2 3 5 8 13 21 34 55 89 144

#### 1.13 Example: Newton's Method for nth Roots

You may recall from elementary calculus the simple and powerful technique for computing roots of functions, called the Newton-Raphson method. (It actually bears little superficial resemblance to what Newton himself originally developed). The idea is to start with an initial guess that is not too far from the actual root. Then determine the tangent to the graph over that point and project the tangent line to the x-axis to obtain the next approximation. Repeat this process until the result converges within the desired tolerance.

We formulate this as a recursive algorithm for successive approximation.

Base case: a reasonable initial value
Inductive step: Given xn, the n+1st approximation is: **xn – f(xn) / f'(xn)**
Let's use this procedure to compute the square root of 2. The function whose zero we need to find is f(x) = x2 - 2. The formula for successive approximation involves the derivative of f, which is f'(x) = 2*x.

Given that we know that there is a square root of 2 between 1 and 2 due to the sign change of f, we start with 1.0 as the base case x0. Then the first approximation is,

In [49]:
x0:1
x0-((x0*x0)-2)%2*x0

1.5

In [50]:
{[xn] xn-((xn*xn)-2)%2*xn}

{[xn] xn-((xn*xn)-2)%2*xn}

Wouldn't it be nice of q had a higher-order function to apply a function recursively, starting at the base case, until the output converges? You won't be surprised that there is another overload of our friend over that does exactly this. Just specify the base case and q iterates until the result converges within the system comparison tolerance (as of this writing – Sep 2015 – that tolerance is 10-14)

In [51]:
{[xn] xn-((xn*xn)-2)%2*xn}/[1]

1.4142135623730951

To witness the convergence, do two things. First, set the floating point display to maximum.

In [52]:
\P 0 / note upper case P

Second, switch the adverb from over to scan so that we can see the intermediate results.

In [53]:
{[xn] xn-((xn*xn)-2)%2*xn}\[1.0]

1 1.5 1.4166666666666667 1.4142156862745099 1.4142135623746899 1.414213562373..

In [54]:
sqr:{[c; xn] xn-((xn*xn)-c)%2*xn}

At this point we use a feature, related to **currying** in functional programming called **projection** in q, in which we only partially supply arguments to a function. The result is a function of the remaining, un-specified parameters. We indicate partial application by omitting the unspecified arguments. In our case, we specify the constant c as 2.0, leaving a monadic function of the remaining variable xn.

In [55]:
sqr_2:sqr[2.0;]

In [56]:
sqr_2\[1.0]

1 1.5 1.4166666666666667 1.4142156862745099 1.4142135623746899 1.414213562373..

In [57]:
sqr_3:sqr[3.0;]

In [58]:
sqr_3\[1.0]

1 2 1.75 1.7321428571428572 1.7320508100147276 1.7320508075688772

In [59]:
{[c; xn] xn-((xn*xn)-c)%2*xn}[4.0;]\[1.0]

1 2.5 2.0499999999999998 2.0006097560975609 2.0000000929222947 2.000000000000..

We abstract once more, turning the power into a parameter p. The new expression for the successive approximation has a pth power in the numerator and an p-1st power in the denominator, but we already know how to calculate these.

In [60]:
{[p; c; xn] xn-((prd p#xn)-c)%p*prd (p-1)#xn}[5; 32.0;]\[1.8]

1.8 2.0496631611034903 2.0023490578737695 2.0000055051372145 2.00000000003030..

#### 1.14 Example: FIFO Allocation

In the finance industry, one needs to fill a sell order from a list of matching buys in a FIFO (first in, first out) fashion. Although we state this scenario in terms of buys and sells, it applies equally to general FIFO allocation. We begin with the buys represented as a (time-ordered) list of floats, and a single float sell.

In [62]:
buys:2 1 4 3 5 4f
sell:12f

In [63]:
mins buys

2 1 1 1 1 1f

We realize that the cumulative sum of buys is the total amount available for allocation at each step.
To make this sequence level off at the sell amount, simply use &.

In [67]:
sell&sums buys

2 3 7 10 12 12f

Now that we have the cumulative allocation amounts, we need to unwind this to get the step-wise allocations. This entails subtracting successive items in the allocations list.

Wouldn't it be nice if q had a built-in function that returned the successive differences of a numeric list? There is one: **deltas** and – no surprise – it involves an adverb (called each-previous – more about that in Chapter 5).

In [68]:
deltas 1 2 3 6 3 6

1 1 1 3 -3 3

In [71]:
allocation:deltas sell&sums buys
allocation

2 1 4 3 2 0f

In real-world FIFO allocation problems, we actually want to allocate buys FIFO not just to a single sell, but to a sequence of sells. We take buys as before but now we have a list sells, which are to be allocated FIFO from buys.

In [73]:
buys:2 1 4 3 5 4f
sells:2 4 3 2

In [76]:
sums buys
sums sells

2 3 7 10 15 19f

2 6 9 11

In [77]:
2#buys

2 1f

The idea is to extend the allocation of buys across multiple cells by considering both the cumulative amounts to be allocated as well as the cumulative amounts available for allocation.
The insight is to cap the cumulative buys with each cumulative sell.

In [82]:
2&sums buys
6&sums buys
9&sums buys
11&sums buys

2 2 2 2 2 2f

2 3 6 6 6 6f

2 3 7 9 9 9f

2 3 7 10 11 11f

Our first task is to produce the above result as a list of lists.
Adverbs to the rescue! Our first task requires an adverb that applies a dyadic function and a given right operand to each item of a list on the left. That adverb is called **each left** and it has the funky notation \:. We use it to accomplish in a single operation the four individual & operations above.

In [83]:
sums[sells] &\: sums[buys]

2 2 2 2  2  2
2 3 6 6  6  6
2 3 7 9  9  9
2 3 7 10 11 11

Another example of for-each

In [ ]:
1 2 3 4 {x*y}\: 1 2 3 4

Now we apply deltas to unwind the allocation in the vertical direction.

In [85]:
deltas sums[sells]&\:sums[buys]

2 2 2 2 2 2
0 1 4 4 4 4
0 0 1 3 3 3
0 0 0 1 2 2

For the final step, we need to unwind the allocation across the rows.

The adverb we need is called **each**. As a higher-order function, it applies a given function to each item of a list (hence its name).  --> Map operation

In [87]:
{x*x*x} each 1 2 3 4

1 8 27 64

In [86]:
deltas each deltas sums[sells] &\: sums[buys]

2 0 0 0 0 0
0 1 3 0 0 0
0 0 1 2 0 0
0 0 0 1 1 0

#### 1.15 Dictionaries and Tables 101

After lists, the second basic data structure of q is the **dictionary**, which models key-value association. A dictionary is constructed from two lists of the same length using the ! operator. The left operand is the list of (presumably unique, though unenforced) keys and the right operand is the list of values. A dictionary is a first-class value, just like an integer or list and can be assigned to a variable.

In [90]:
d:`aa`ab`ac!10 20 30
d

aa| 10
ab| 20
ac| 30

In [91]:
d[`aa]

10

In [92]:
d[`ss]

0N

A useful class of dictionary has as keys a simple list of symbols and as values a list of lists of uniform length. We think of such a dictionary as a named collection of columns and call it a **column dictionary**.

In [97]:
d:`c1`c2!(10 20 30; 1.1 2.2 3.3)
d

c1| 10                 20                 30
c2| 1.1000000000000001 2.2000000000000002 3.2999999999999998

In [101]:
d[`c1][1]
d[`c1;1]
d[`c1][1]=d[`c1;1]

20

20

1b

Whenever such iterated indexing of nested entities arises in q, there is an equivalent syntactic form, called **indexing at depth**, to make things a bit more readable.

In [102]:
d[`c1;] / first slot is for columns

10 20 30

In [103]:
d[;1] / second slot is for section dictionaries

c1| 20
c2| 2.2000000000000002

To summarize, we have an entity that retrieves columns in the first slot and section dictionaries in the second slot. 
The issue is that columns are conventionally accessed in the second slot of two-dimensional things. No problem. We apply the built-in operator **flip** (better called "transpose") to reverse the order of indexing. We still have the same column dictionary but slot retrieval is reversed: columns are accessed in the second slot and section dictionaries are retrieved from the first slot.

We emphasize that the data is still stored as a column dictionary under the covers; only the indexing slots are affected.

In [106]:
t:flip d
t

c1 c2
---------------------
10 1.1000000000000001
20 2.2000000000000002
30 3.2999999999999998

In [107]:
t[;`c2]

1.1000000000000001 2.2000000000000002 3.2999999999999998

In [108]:
t[1;]

c1| 20
c2| 2.2000000000000002

A flipped column dictionary, called a **table**, is a first class entity in q.

In the table setting, the section dictionaries are called records of the table. They correspond to the rows of SQL tables. To see why, observe that the record at index 0 is effectively the horizontal slice of the table in "row" 0. Let's re-examine record retrieval, this time omitting the optional trailing semicolon from the elided second index.

Looking at this syntactically, we might conclude that t is a list of record dictionaries. In fact it is, at least logically; physically a table is always stored as a collection of named columns.

Thus we have arrived at:

**A table is a flipped column dictionary.<br>
It is also a list of record dictionaries.**

While we can always construct a table as a flipped column dictionary, there is a convenient syntax that puts the names together with the columns. The notation looks a bit odd at first but it will seem more reasonable when we encounter keyed tables later.

In [109]:
([] c1:10 20 30; c2:1.1 2.2 3.3)

c1 c2
---------------------
10 1.1000000000000001
20 2.2000000000000002
30 3.2999999999999998

A few notes.

The square brackets are necessary to differentiate a table from a list<br/>
The occurrence of : is not assignment. It is merely a syntactic marker separating the name from the column values<br/>
The column names in table definition are not symbols, although they are converted to symbols under the covers.<br/>

#### 1.16 q-sql 101

The fundamental q-sql operation is the **select template**, We say 'template' because, unlike other q primitives, it is not evaluated right-to-left. Rather, it is syntactic sugar designed to mimic SQL SELECT. That said, we emphasize that although select does act like SQL SELECT in some respects, there is one fundamental difference. Whereas SQL SELECT operates on fields on a row-by-row basis, **select performs vector operations on column lists**. Insisting on thinking in rows with q tables will end in tears.

In [1]:
t:([] c1:1000+til 6; c2:`a`b`c`a`b`a; c3:10*1+til 6)

In [2]:
t

c1   c2 c3
----------
1000 a  10
1001 b  20
1002 c  30
1003 a  40
1004 b  50
1005 a  60

In [3]:
select from t

c1   c2 c3
----------
1000 a  10
1001 b  20
1002 c  30
1003 a  40
1004 b  50
1005 a  60

In [4]:
select c1, val2:10*c3 from t

c1   val2
---------
1000 100
1001 200
1002 300
1003 400
1004 500
1005 600

We make several observations

 - Result columns are separated by , and are sequenced left-to-right.<br/>
 - Any q expressions inside select are evaluated right-to-left, as usual.<br/>
 - As was the case with table definition syntax, instances of : are not assignment; rather, they are syntactic markers separating a column name to its left from the q expression to its right, which computes the column.<br/>
 - Arbitrary q expressions can be used to produce result columns, provided all column lengths are the same.<br/>
 - There are optional **by** and **where** phrases for grouping and constraints.<br/>

In [7]:
select count c1, sum c3 by c2 from t

c2| c1 c3
--| ------
a | 3  110
b | 2  70
c | 1  30

An advantage of q-sql by is that you can group on a computed column.

In [10]:
select count c2 by ovrund:c3<=40 from t

ovrund| c2
------| --
0     | 2
1     | 4

Closely related to select is the **update template**. It has the same syntax as select but semantically the names to the left of : are interpreted as columns to modify (or add, if not present). As with select, you can specify an optional where phrase, which limits the action to just those records satisfying specified constraint(s). Here is how to scale the c3 column of t just in the positions having c2 equal to `a.

In [11]:
update c3:10*c3 from t where c2=`a

c1   c2 c3
-----------
1000 a  100
1001 b  20
1002 c  30
1003 a  400
1004 b  50
1005 a  600

Not all of q-sql is included in the templates. For example, to sort a table ascending by column(s), use **xasc** with left operand the symbol column name(s) in major-to-minor order.

In [16]:
`c2 xasc t

c1   c2 c3
----------
1000 a  10
1003 a  40
1005 a  60
1001 b  20
1004 b  50
1002 c  30

#### 1.17 Example: Trades Table

A useful operator for constructing lists of test data is **?, which generates pseudo-random data**. We can generate 10 numbers randomly selected, with replacement, from the first 20 integers starting at 0 (i.e., not including 20).

In [20]:
10?20 / integers

8 18 1 2 16 5 8 18 15 8

In [21]:
10?100.0 / floats

63.24114 43.28535 24.30836 39.17953 2.451336 16.91043 39.41082 72.63142 92.16..

In [22]:
10?`aapl`ibm / 10 random selections from the items in a list

`aapl`ibm`aapl`aapl`ibm`ibm`aapl`ibm`aapl`ibm

Constructing Trades table

In [23]:
dts:2015.01.01+1000000?31 / list of 1,000,000 random dates in the month of January 2015.
dts

In [25]:
tms:1000000?24:00:00.000000000 /  list of 1,000,000 timespans
tms

0D13:27:12.083489745 0D21:23:25.420640856 0D12:34:43.873710036 0D06:49:14.968..

In [26]:
syms:1000000?`aapl`goog`ibm /  list of 1,000,000 tickers chosen from AAPL, GOOG and IBM. It is customary to make these lower-case symbols.
syms

`ibm`goog`ibm`aapl`aapl`aapl`goog`aapl`goog`goog`ibm`goog`ibm`ibm`aapl`ibm`ib..

In [28]:
vols:10*1+1000000?1000 / list of 1,000,000 volumes given as positive lots of 10.
vols

790 7170 2470 1260 3260 8540 6380 4710 3350 3920 9480 2510 2500 4690 2270 405..

In [30]:
pxs:90.0+(1000000?2001)%100 / list of 1,000,000 prices in cents uniformly distributed within 10% of 100.0. 
pxs

93.1 93.69 93.49 107.37 99.67 94.1 99.61 101.08 108.5 108.72 100.09 102.97 98..

In [31]:
trades:([] dt:dts; tm:tms; sym:syms; vol:vols; px:pxs)

In [35]:
5#trades / Inspect the first 5 records. Remember, a table is a list of records so # applies.

dt         tm                   sym  vol  px
------------------------------------------------
2015.01.01 0D00:00:07.004971057 aapl 7750 90.38
2015.01.01 0D00:00:09.415197372 goog 4550 90.82
2015.01.01 0D00:00:13.514088839 aapl 2810 109.34
2015.01.01 0D00:00:14.056894183 aapl 360  107.62
2015.01.01 0D00:00:15.205892175 ibm  8830 96.12

In [34]:
trades:`dt`tm xasc trades / temporal order
5#trades

dt         tm                   sym  vol  px
------------------------------------------------
2015.01.01 0D00:00:07.004971057 aapl 7750 90.38
2015.01.01 0D00:00:09.415197372 goog 4550 90.82
2015.01.01 0D00:00:13.514088839 aapl 2810 109.34
2015.01.01 0D00:00:14.056894183 aapl 360  107.62
2015.01.01 0D00:00:15.205892175 ibm  8830 96.12

Now we adjust the prices. At the time of this writing (Sep 2015) AAPL was trading around 100, so we leave it alone. But we adjust GOOG and IBM to their approximate trading ranges by scaling.

In [36]:
trades:update px:6*px from trades where sym=`goog
trades:update px:2*px from trades where sym=`ibm
5#trades

dt         tm                   sym  vol  px
------------------------------------------------
2015.01.01 0D00:00:07.004971057 aapl 7750 90.38
2015.01.01 0D00:00:09.415197372 goog 4550 544.92
2015.01.01 0D00:00:13.514088839 aapl 2810 109.34
2015.01.01 0D00:00:14.056894183 aapl 360  107.62
2015.01.01 0D00:00:15.205892175 ibm  8830 192.24

**Sanity Checks**

In [37]:
select avg px, avg vol by sym from trades / averages approximate the means

sym | px       vol
----| -----------------
aapl| 100.0035 5009.502
goog| 599.9925 4995.538
ibm | 199.9725 5008.974

In [38]:
select min px, max px by sym from trades / minimum and maximum price for each symbol to be the endpoints of the uniform range.

sym | px  px1
----| -------
aapl| 90  110
goog| 540 660
ibm | 180 220

Our first non-trivial query computes the 100-millisecond bucketed **volume-weighted average price (VWAP)**. This uses the built-in dyadic function **xbar. The left operand of xbar is an interval width, and the right operand is a list of numeric values.** The effect of xbar is to shove each input to the left-hand end point of the interval of specified width in which it falls. For example,

In [51]:
a:(0.5+til 15),50
a
3 xbar a

0.5
1.5
2.5
3.5
4.5
5.5
6.5
7.5
8.5
9.5
10.5
11.5
12.5
13.5
14.5
50

0f
0f
0f
3f
3f
3f
6f
6f
6f
9f
9f
9f
12f
12f
12f
48

This is useful for grouping since **xbar effectively buckets all the values within each interval to the left end-point of that interval.** <br/>
The xbar verb rounds its right argument down to the nearest multiple of the integer left argument. The right argument can be any numeric or temporal type. <br/>
Recalling that a timespan is actually an integral count of nanoseconds since midnight, to compute 100-millisecond buckets we will use xbar with an interval of 100,000,000.

We also require **wavg, a dyadic function that computes the average of the numeric values in its right operand weighted by the values of its left operand**.

In [44]:
1 2 3 wavg 50 60 70

63.33333

In [45]:
select vwap:vol wavg px by sym,bkt:100000000 xbar tm from trades

sym  bkt                 | vwap
-------------------------| --------
aapl 0D00:00:00.100000000| 95.87063
aapl 0D00:00:00.300000000| 105.3613
aapl 0D00:00:00.500000000| 92.4
aapl 0D00:00:00.600000000| 101.84
aapl 0D00:00:00.800000000| 96.02
aapl 0D00:00:01.200000000| 108.4573
aapl 0D00:00:01.600000000| 109.39
aapl 0D00:00:01.900000000| 101.9534
aapl 0D00:00:02.200000000| 104.95
aapl 0D00:00:02.300000000| 107.33
aapl 0D00:00:02.400000000| 106.3
aapl 0D00:00:03.000000000| 102.6204
aapl 0D00:00:03.300000000| 104.9454
aapl 0D00:00:03.600000000| 101.04
aapl 0D00:00:03.800000000| 101.6303
aapl 0D00:00:04.100000000| 90.8
aapl 0D00:00:04.400000000| 96.9
aapl 0D00:00:04.500000000| 104.48
aapl 0D00:00:04.600000000| 96.51
aapl 0D00:00:04.900000000| 95.15
..

 Maximum profit (or analogously, maximum drawdown) realizable over the trading period.
 Restating the problem, we wish to determine the optimum time to buy and sell for the largest (positive) difference in price, where the buy precedes the sell.

In [52]:
select max px-mins px from trades where sym=`aapl

px
--
20

In [53]:
select max (px-mins px) from trades where sym=`aapl

px
--
20

In [54]:
select (max px )-mins px from trades where sym=`aapl

px                                                                           ..
-----------------------------------------------------------------------------..
19.62 19.62 19.62 19.62 19.62 19.62 19.62 19.62 19.62 19.62 19.62 19.62 19.62..

#### 1.18 File I/O 101

In [60]:
"string" / list of chars, not an atom
`string / symbol atom
"string"~`string
count "string"
count `string

"string"

`string

0b

6

1

File I/O begins with **symbolic handles**. A symbolic file handle is a symbol of a particular form that represents the name of a resource on the file system. The leading ':' distinguishes the symbol as a handle. For example,

In [63]:
`:C:/Dev/kdb_q/q_for_mortals_table

`:C:/Dev/kdb_q/q_for_mortals_table

In [68]:
t:([] c1:`a`b`c; c2:1.1 2.2 3.3)

#### Binary Data

To save the table t in a **serialized binary data file**, use the built-in function **set** with symbolic file handle as left operand and the source data as the right operand.

###### Write binary

In [69]:
`:C:/Dev/kdb_q/q_for_mortals_table set t

`:C:/Dev/kdb_q/q_for_mortals_table

Observe that the console echoes the symbolic file handle in case of success. To read the stored data and deserialize it back into the session, use **get** with the symbolic file handle.

###### Read binary

In [4]:
t1:get `:C:/Dev/kdb_q/q_for_mortals_table
t1

c1 c2
------
a  1.1
b  2.2
c  3.3

#### Text Data

To write text data to a file we use one of the overloads of the infelicitously named **0: operator**. The key idea is that **q considers a text file to correspond to a list of strings**, one string per file record. We supply 0: with a symbolic file handle as its left operand and a list of strings (i.e., a list of lists of char) in the right operand.

###### Write txt

In [2]:
`:C:/Dev/kdb_q/q_for_mortals_table.txt 0: ("Meaning";"of";"life")

`:C:/Dev/kdb_q/q_for_mortals_table.txt

###### Read txt

In [3]:
read0 `:C:/Dev/kdb_q/q_for_mortals_table.txt

"Meaning"
"of"
"life"

#### CSV data

Preparing a table as CSV text is simple; q handles the quoting and escaping of special characters. Apply 0: with the defined constant csv as left operand and the table in the right operand.

In [5]:
csv 0: t1

"c1,c2"
"a,1.1"
"b,2.2"
"c,3.3"

###### Write CSV

In [6]:
`:C:/Dev/kdb_q/q_for_mortals_table.csv 0: csv 0: t1

`:C:/Dev/kdb_q/q_for_mortals_table.csv

###### Read CSV as string

In [7]:
read0 `:C:/Dev/kdb_q/q_for_mortals_table.csv

"c1,c2"
"a,1.1"
"b,2.2"
"c,3.3"

###### Read CSV as Table

Finally, we demonstrate the third overload of 0: to parse the formatted CSV file into the q session as a table. The right operand is a symbolic file handle. The left operand is a control list with two items. The first is a string of upper-case characters indicating the types of each field within the text row.

The second item of the control list is the field separation character – in our case this is ,. This separator char should be enlisted if there are column headers in the first row of the file, as in our case. These headers are used as table column names. For our example we have,

In [8]:
("SF"; enlist ",") 0: `:C:/Dev/kdb_q/q_for_mortals_table.csv

c1 c2
------
a  1.1
b  2.2
c  3.3

Here "S" and "F" indicate that there are two fields, having types symbol and float. The separator is an enlisted ",".