Below are all mean the same

Operator <br>
Function <br>
Verb

Read right-to-left

### 4.0 Operators and Verbs Are Functions

#### 4.0.1 Function Notation

Operators are built-in functions used with in-fix notation.
There are two main differences between the functions we can write and built-in functions.<br>

- Our functions must have alphanumeric names whereas q functions can have purely symbolic names.
- Our functions can only be used in prefix notation whereas q functions can be used prefix or infix.

Function application in q uses square brackets to enclose the arguments, and semicolons to separate multiple arguments. Thus the output value of a monadic function f for the input x is written f[x] We can omit the brackets for monadic application and write f x.

In [1]:
til[10]
til 10 / for monadic brackets can be omitted

0 1 2 3 4 5 6 7 8 9

0 1 2 3 4 5 6 7 8 9

 Application of a dyadic function g on arguments x and y is written g[x;y] in prefix or x g y in infix.

In [2]:
xexp[3;4] / power of

81f

An atomic function acts recursively on data structures. For example, applying it to a list is the same as applying it to each item in the list.

In [3]:
signum 10
signum 10 -2 3

1i

1 -1 1i

#### 4.0.2 Primitives, Verbs and Functional Notation

##### Infix notation 
The normal way of writing addition in mathematics and most programming languages uses an operator with infix notation – e.g., addition is written with a plus symbol between the two operands.
<br>
In q, we can write addition this way and read it right-to-left as “add 3 to 2.”.

In [4]:
2+3 / infix notation
+[2;3] / prefix notation

5

5

**A q dyadic function written with infix notation is also called a verb.** This terminology arises from thinking of the operands as nouns that the functions act on. 
<br>
The primitive operators are built-in functions, including the basic arithmetic, relation and comparison operators. Some are represented by a single ASCII symbol such as +, -, =, and <. Others use compound symbols, such as <=, >=, and <>. Still others have names such as not or neg.

An operator/verb can also be used with ordinary function notation. For example, we can also use + as a dyadic function that takes two numeric arguments and returns a numeric result.

In [5]:
+[2;3]
=[2;2]

5

1b

In [6]:
(2+) / function in infix notation, equivalent to adding to 2 to argument (currying)
(2+)~+[2]

+[2]

1b

In [7]:
(2+)[4]

6

#### 4.0.3 Extension of Atomic Functions

- A fundamental feature of atomic functions is that their action extends automatically to the items in a list. Of course, if you want to combine two lists they must be of the same length. This applies to nested lists as well, provided they conform in shape for multivalent functions.<br>

In [8]:
neg 1 2 3

-1 -2 -3

In [9]:
1 2 3 + 10 20 30

11 22 33

In [9]:
1 2 3+ 10 20 30 40 / lengths don't match

9

length: length

9

In [10]:
neg (1 2 3; 4 5)

-1 -2 -3
-4 -5

In [11]:
(1 2 3; 4 5)+(100 200 300; 400 500)

101 202 303
404 505

- Another fundamental property of atomic operators is that they implicitly extend atom arguments to match lists. Atom extension also applies with nested lists.

In [12]:
100+1 2 3

101 102 103

In [13]:
100+(1 2 3; 4 5)

101 102 103
104 105

### 4.1 Operator Precedence

There is none.

Expressions are evaluated **left-of-right**

which equates to

Expressions are evaluated **right-to-left**

Parentheses can always be used to group terms and override the default evaluation order but there will be far fewer once you abandon old (bad) habits.
Arrange your expressions with the goal of placing parentheses and brackets on the endangered species list.

In [14]:
2*3+4   / expected 10 as in Math
(2*3)+4 / parenthesising
4+2*3   / rearranging

14

10

10

**This is the one (and only) situation in which parentheses are necessary in q.** <br>
If the left operand of an operator is an expression it must be parenthesized, otherwise the operator will bind to the right-most element of the expression.

### 4.2 Match ~

The non-atomic dyadic match operator ~ applies to any two q entities, returning the boolean result 1b if they are identical and 0b otherwise. For two entities to match, they must have:
- the same shape, 
- the same type and 
- the same value(s), 
- but they may occupy separate storage locations. <br>
Colloquially, clones are considered identical in q.

In [15]:
42~40+2
42~42h
42f~42.0
42~`42
`42~"42"
4 2~2 4
42~(4 2;(1 0))
(4 2)~(4;2*1)
(())~enlist () / ?
(1; 2 3 4)~(1; (2; 3; 4))
(1 2;3 4)~(1;2 3 4)

1b

0b

1b

0b

0b

0b

0b

1b

0b

1b

0b

### 4.3 Equality and Relational Operators

#### 4.3.1 Equality = and Disequality <>

The equality operator = differs from match ~ in that it is atomic in both operands, meaning it tests its operands atom-wise instead of in entirety. All atoms of numeric, temporal or char type are mutually compatible for equality, but symbols are compatible only with symbols.

**Equality tests whether two compatible atoms represent the same value, without regard to type.**

In [16]:
42~42h
42=42h
42=42.0
42="*"   / true
42="42"

0b

1b

1b

1b

00b

**For temporal types the comparison is between the points on the calendar/clock rather than the underlying counts.**

In [17]:
2000.01.01=2000.01.01D00:00:00.000000000

1b

In [18]:
2015.01.01<2015.02m

1b

In [19]:
12:00:00=12:00:00.000

1b

**A symbol and a character are not compatible and an error results from the test,**

In [19]:
`a="a"

type: type

In [20]:
42<>98.6
not 42=98.6

1b

1b

When comparing floats, q uses multiplicative tolerance for non-zero values, which makes floating point arithmetic give reasonable results. At the time of this writing (Sep 2015) the tolerance is 10-14.

In [21]:
r:1%3
r

0.3333333

In [22]:
2=r+r+r+r+r+r

1b

#### 4.3.2 Not Zero not

** not - test against zero**
 
 It returns a boolean result and has domain of all numeric, temporal and character types; it is not defined for symbols. The not operator generalizes the reversal of true and false bits to any entity having an underlying numeric value.

In [23]:
not 1b
not 0b
not 0
not 42

0b

1b

1b

0b

For char values, not returns 0b except for the character representing the underlying value of 0.

In [24]:
not "*"
not " "
not "\000"

0b

0b

1b

For temporal values, an underlying 0 corresponds to the stroke of midnight at the millennium for types including a date and simply midnight for time-only types.

In [25]:
not 2000.01.01
not 2014.01.01
not 2000.01.01T00:00:00.000000000
not 2000.01m
not 00:00:00
not 12:00:00.000000000

1b

0b

1b

1b

1b

0b

#### 4.3.3 Order: >, <=, >, >=

 Numeric and char types are mutually compatible, but symbols are only compatible with symbols. As with equality, comparison for numeric and char types is based on underlying numeric value, independent of type.

In [26]:
4<42

1b

As with equality, the comparison for temporal types is between the points on the calendar/clock rather than the underlying counts.

In [27]:
2000.01.01<2000.01.01D00:00:00.000000001

1b

For char atoms, comparing the underlying numeric value follows the ASCII collation sequence.

In [28]:
"A"<"Z"
"?"<"?"

1b

0b

To see the entire ASCII collation sequence in compact form, do this.

In [29]:
16 16#"c"$til 256

"\000\001\002\003\004\005\006\007\010\t\n\013\014\r\016\017"
"\020\021\022\023\024\025\026\027\030\031\032\033\034\035\036\037"
" !\"#$%&'()*+,-./"
"0123456789:;<=>?"
"@ABCDEFGHIJKLMNO"
"PQRSTUVWXYZ[\\]^_"
"`abcdefghijklmno"
"pqrstuvwxyz{|}~\177"
"\200\201\202\203\204\205\206\207\210\211\212\213\214\215\216\217"
"\220\221\222\223\224\225\226\227\230\231\232\233\234\235\236\237"
"\240\241\242\243\244\245\246\247\250\251\252\253\254\255\256\257"
"\260\261\262\263\264\265\266\267\270\271\272\273\274\275\276\277"
"\300\301\302\303\304\305\306\307\310\311\312\313\314\315\316\317"
"\320\321\322\323\324\325\326\327\330\331\332\333\334\335\336\337"
"\340\341\342\343\344\345\346\347\350\351\352\353\354\355\356\357"
"\360\361\362\363\364\365\366\367\370\371\372\373\374\375\376\377"

Symbol comparison is based on lexicographic order.

In [30]:
`abc<`aba

0b

Now that we are familiar with relational operations on atoms, let’s examine their item-wise extensions to simple lists. Notice the simple boolean list returned.

In [31]:
2 1 3=1 2 3
10 20 30<=30 20 10
2=1 2 3
"zaphod"="Arthur"
`a`b`a`d=`a`d`a`b

001b

110b

010b

000100b

1010b

### 4.4 Basic Arithmetic: +, -, *, %

Arithmetic operations are defined for all numeric and temporal types, and all numeric types are compatible.

Arithmetic looks pretty much like other programming languages, except that division is represented by % since / is used to delimit comments.

The result of division is always a float.

**The major learning adjustment in q arithmetic expressions is due to left-of-right evaluation and the absence of precedence.**

In [32]:
6*3+4

42

Type promotion for arithmetic operators follows two rules:

Binary types are promoted to int
The result type of an operation is the narrowest type that will accommodate both operands.
Here are examples of binary data promotion. Note that arithmetic on booleans is not performed modulo 2.

In [33]:
1b+1b
42*1b
5i*0x2a

2i

42

210i

Overflow and underflow are not trapped on arithmetic operations on integer types.

In [34]:
9223372036854775806+4

-9223372036854775806

When a floating-point type occurs in an expression, the result is a float.

In [35]:
1.0+42

43f

Being atomic, arithmetic operators and their type promotion are performed atom-wise on lists.

In [36]:
1+10 20.0 30

11 21 31f

In [37]:
10 20 30%1 2 3

10 10 10f

In [38]:
100 200 300+1b

101 201 301

In [39]:
1+(100 200;1000 2000)

101  201
1001 2001

### 4.5 Maximum | and Minimum &

The maximum operator | returns the larger of its operands; this reduces to logical “or” for binary operands. The minimum operator & returns the smaller of its operands, which reduces to logical “and” for binary operands.

In [40]:
42|43
42&43

43

42

In [41]:
0b|1b
0b&1b

1b

0b

In [-1]:
For readability of logical operations on binary data, | can also be written as or and & can be written as and.

parse error:

In [42]:
0b or 1b
0b and 1b

1b

0b

### 4.6 Amend :

An overload of : that is “assign in place.”

In [43]:
x:42
x
x:x+1
x
x+:1 / amend in-place
x

42

43

44

In [44]:
t+:42 /  a q variable can be amended even if it has not been previously assigned
t

42

#### 4.6.3 Amend with Lists

In [45]:
L:100 200 300 400
L[1]-:99
L

100 101 300 400

In [46]:
L[1 3]-:1
L

100 100 300 399

In [47]:
L1:(1 2 3; 10 20 30)
L1
L1[;2]+:100
L1

1  2  3
10 20 30

1  2  103
10 20 130

**A very useful idiom is ,: which appends to a list in place.**

In [48]:
L:1 2 3
L,:4 / in place
L

1 2 3 4

In [49]:
L1:L,(4 2)
L1      / not in place

1 2 3 4 4 2

In [50]:
L,enlist 4

1 2 3 4 4

In [50]:
L:1.1 2 2 3.3
L,:100               / ,: requires exact time match

type: type

In [51]:
L,:100.0
L

1.1 2 2 3.3 100

### 4.7 Exponential Primitives: sqrt, exp, log, xexp, xlog

#### 4.7.1 sqrt

In [52]:
sqrt 9
sqrt 2
sqrt -2 / returns null when the square root is not defined.

3f

1.414214

0n

#### 4.7.2 exp

In [53]:
exp 1
exp 0
exp -2

2.718282

1f

0.1353353

#### 4.7.3 log

In [54]:
log 0
log 1
log 2.71

-0w

0f

0.9969486

#### 4.7.4 xexp

Power of
The atomic dyadic xexp has as domain all numeric values in both operands and returns a float representing the left operand raised to the power of the right operand. When the mathematical operation is undefined, the result is null.

In [55]:
2 xexp 5
2 xexp 0
-2 xexp 0.5

32f

1f

0n

We point out here, since it is our first encounter, a q naming convention. **A monadic function – e.g., exp – sometimes has a dyadic version – xexp – with an ‘x’ prepended to its name.** In classic Arthurian fashion, the rationalization is that the additional parameter is ‘x’.

#### 4.7.5 xlog

In [56]:
2 xlog 32
2 xlog -1

5f

0n

### 4.8 More Numeric Primitives

#### 4.8.1 Integer Division div and Modulus mod

**div**

The result is the integer quotient of the left operand (dividend) by the **right operand (divisor)**, which is equal to the result of normal division rounded down to the next lower integer.

In [57]:
7 div 2
7 div -2
3 4 5 div 2
7 div 3 4 5
5 div 0

3

-4

1 2 2

2 1 1

0N

mod

The dyadic mod is atomic in both operands, which are numeric values. The result is the remainder of the integer quotient of the left operand (dividend) by the positive right operand (divisor). 
<br>
It is equal to

dividend – (dividend div divisor)

In [58]:
7 mod 2
7 mod -2
3 4 5 mod 2
7 mod 3 4 5
5 mod 0

1

-1

1 0 1

1 3 2

0N

#### 4.8.2 Sign signum

The atomic monadic signum has domain all numeric and temporal types and returns an int representing the sign of its input, where 1i represents positive, -1i represents negative and 0i represents a zero.

signum for numericals

In [59]:
signum 42
signum 1b
signum -42.0
signum 0

1i

1i

-1i

0i

In [59]:
sugnum for temporals
Temporal types are treated as their underlying offsets.

temporals: temporals

In [60]:
signum 1999.12.31
signum 12:00:00.000000000

-1i

1i

#### 4.8.3 reciprocal

reciprocal is 1/x

In [61]:
reciprocal 42
reciprocal reciprocal 42
reciprocal 0

0.02380952

42f

0w

#### 4.8.4 floor and ceiling

**floor**:  the largest integer that is less than or equal to its argument

In [62]:
floor 4.2
floor -4.2
floor 4

4

-5

4

The floor operator can be used to truncate or round floating-point values to a specific number of digits to the right of the decimal.

In [63]:
x:4.242
0.01*floor 100*x

4.24

**ceiling**: the smallest integer that is more than or equal to its argument

In [64]:
ceiling 4.2
ceiling -4.2
ceiling 4

5

-4

4

floor and ceiling do not apply to short types.

#### 4.8.5 Absolute Value abs

In [65]:
abs 42
abs 0
abs -42

42

0

42

### 4.9 Operations on Temporal Values

 When dealing with temporal values of different types, q implicitly promotes to the wider type and then proceeds as just described.

In [66]:
`int$1999.12.31
`int$2013.01m
`int$12:00:00.123
`long$12:00:00.123456789

-1i

156i

43200123i

43200123456789

#### 4.9.1 Temporal Comparison

Comparison within a temporal type amounts to simple comparison of the underlying integral offsets. Comparison across temporal types recognizes that the underlying values express different units and realizes them in common units.

Values of different types should be compared in the same units, which effectively amounts to converting to the most granular units. The cast operator has the logic for such conversions built-in.
**To compare temporal values of different types, q converts to the most granular type and then does a straight comparison of the underlying values.**

In [67]:
2000.01.02=2000.01.02D00:00:00.000000000
`int$2000.01.02
`long$2000.01.02D02:00:00.000000000
`timestamp$2001.01.02
2000.01.01<2000.01.01D12:00:00.000000000

1b

1i

93600000000000

2001.01.02D00:00:00.000000000

1b

#### 4.9.2 Temporal Arithmetic

In [67]:
Temporal values are their underlying offsets for equality and comparison testing against numeric values.

values.: values.

In [68]:
2000.01.01=0

1b

In [69]:
12:00:00+1

12:00:01

In [70]:
12:00:00+01:00:00

13:00:00

In [71]:
2015.01.01+til 31 / all days in January

2015.01.01 2015.01.02 2015.01.03 2015.01.04 2015.01.05 2015.01.06 2015.01.07 ..

One important case is adding a timespan to a date to yield a timestamp. There is actually some calculation under the covers to make this work.

In [72]:
2015.01.01+12:00:00.000000000

2015.01.01D12:00:00.000000000

In [73]:
2015.01.01D00:00:00.000000000-2014.01.01D00:00:00.000000000

365D00:00:00.000000000

In [74]:
12:00-11:00

01:00

### 4.10 Operations on Infinities and Nulls

An infinity value equals or matches only itself. All nulls are equal (they represent missing data), but different type nulls do not match (type matters).

In [75]:
(0%0)=0%0

1b

The **not** operator returns 0b for all infinities and nulls since they all fail the test of equality with 0.

In [76]:
not 0w
not 0N
not -0W

0b

0b

0b

 for any numeric type

null < negative infinity < normal value < positive infinity


Infinities of different type are ordered by their width. For positive infinities

short < int < long < real < float

Nulls of different type, while equal, are not otherwise comparable – i.e., any relational comparison results in 0b.

In [77]:
42<0W
-0w<42.0
-0w<1901.01.01
-0w<0w
0W<0w
-0w<0W
-10000000<0N
0N<42i
0n<-0w

1b

1b

1b

1b

1b

1b

0b

1b

1b

The null symbol is less than any other symbol

In [78]:
`a<`

0b

### 4.11 Alias ::

An **alias** is a variable that is an expression – i.e., it is not the result of expression evaluation but the expression itself. Otherwise put, an alias provides a way to defer evaluation of an expression.

Evaluation of an alias is lazy, meaning that it occurs only when necessary. More precisely, evaluation is forced when the variable is referenced, at which point a determination is made whether the expression needs to be (re)evaluated.

If it is the first reference or if any variable in its associated expression has changed since the last evaluation, evaluation proceeds with the current values of all the variables in the expression. The result of the most recent evaluation is then stored internally and also returned. The stored result is said to be memoized.
If no variables in the expression have changed since the previous evaluation, the memoized value is returned.
The alias variable is said to depend on any variables in its expression.

#### 4.11.1 Creating an Alias with Double Colon¶

In [79]:
a:42
b::a  / alias
c:a   / assignment
b
c
a:43
b     / b is alias and changed value cause a changed value
c     / c din't change value as it was assigned 42 before

42

42

43

42

The mysteriously named utility **0N!** is the identify function fortified with the side effect of displaying its input on the console.

It is a non-invasive way to inspect the inner workings of an in-flight evaluation.

In [80]:
w::(0N!x*x)+y*y
x:3
y:4
w   / expression evaluated

25

In [81]:
w / previous value was memoized, no evaluation

25

In [82]:
y:5
w   / dependent variable changed, re-evaluate all expression

34

#### 4.11.2 Alias vs. Function

A function also represents deferred evaluation.
There are two key differences between an alias and the analogous function.

- To evaluate an expression wrapped in a function you explicitly provide the arguments and apply the function all in one step. With an alias you set the variables at any point in the program and the expression is evaluated when, and only when, the alias variable is referenced.
- The function does not memoize its result, so it recalculates on every application, even if the arguments do not change.

#### 4.11.3 Dependencies

An alias variable depends on the entities in its associated expression. In our previous example w depends on x and y. A list of all dependencies is maintained in the system dictionary **.z.b**, which is also obtainable via the command \b.

In [83]:
w::x*x+y*y
.z.b

a| b
x| w
y| w

It is permissible to create an alias with another alias in its expression. This results in a chain of dependencies. The entire chain is resolved lazily upon reference.
Such a recursive definition leads to a hierarchy of dependencies, in which a variable depends not only on the variables in its own expression, but also any variables that its expression depends on, etc. You can easily build sophisticated dependency graphs this way.

#### 4.11.4 Views

Aliasing is commonly used to provide a database view by specifying a query as the expression.

In [84]:
t:([]c1:`a`b`c`a;c2:20 15 10 20;c3:99.5 99.45 99.42 99.4)
t

c1 c2 c3
-----------
a  20 99.5
b  15 99.45
c  10 99.42
a  20 99.4

In [85]:
v::select sym:c1,px:c3 from t where c1=`a

In [86]:
v

sym px
--------
a   99.5
a   99.4

In [87]:
.z.b

a| b
x| w
y| w
t| v